.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.NavModuleContainer {
  width: 250px; /* Adjust the width as needed */
  background-color: #282c34; /* You can customize the color */
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.ViewModuleContainer {
  flex: 1;
  background-color: #f0f0f0; /* You can customize the background color */
  padding: 20px;
  box-sizing: border-box;
}
